<root platform="" version="4471">
	<item Id="redis" Name="redis" FileName="./setting/{}_{}_redis.xml" Reload="0" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="mongo" Name="mongo" FileName="./setting/{}_{}_mongo.xml" Reload="0" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="mysql" Name="mysql" FileName="./setting/{}_{}_mysql.xml" Reload="0" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="ip" Name="ip" FileName="./setting/{}_{}_ip.xml" Reload="0" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="zone" Name="zone" FileName="./setting/{}_{}_zone.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="bus" Name="bus" FileName="./setting/bus.xml" Reload="0" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="http" Name="httpserver" FileName="./setting/httpserver.xml" Reload="0" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="tcp" Name="tcpserver" FileName="./setting/tcpserver.xml" Reload="0" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="datashard" Name="datashard" FileName="./setting/datashard.xml" Reload="0" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="robot" Name="robot" FileName="./setting/robot.xml" Reload="0" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="route" Name="route" FileName="./setting/route.xml" Reload="0" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="channel" Name="channel" FileName="./config/channel.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="filter" Name="filter" FileName="./config/filter.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="class" Name="class" FileName="./config/class.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="relation" Name="relation" FileName="./config/relation.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="rank" Name="rank" FileName="./config/rank.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="compound" Name="compound" FileName="./config/compound.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="pay" Name="pay" FileName="./config/pay.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="player" Name="player" FileName="./config/player.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="time" Name="time" FileName="./config/time.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="enter" Name="enter" FileName="./config/enter.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="leave" Name="leave" FileName="./config/leave.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="reset" Name="reset" FileName="./config/reset.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="signin" Name="signin" FileName="./config/signin.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="store" Name="store" FileName="./config/store.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="goods" Name="goods" FileName="./config/goods.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="achieve" Name="achieve" FileName="./config/achieve.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="constant" Name="constant" FileName="./config/constant.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="dropdata" Name="dropdata" FileName="./config/dropdata.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="dropgroup" Name="dropgroup" FileName="./config/dropgroup.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="conditiondefine" Name="conditiondefine" FileName="./config/conditiondefine.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="unlock" Name="unlock" FileName="./config/unlock.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="condition" Name="unlockcondition" FileName="./config/unlockcondition.xml" Reload="1" ClearData="1" ClearFile="1" ChildFile="0" />
	<item Id="formula" Name="formula" FileName="./config/formula.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="project" Name="project" FileName="./setting/project.xml" Reload="0" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="reward" Name="reward" FileName="./config/reward.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="match" Name="match" FileName="./config/match.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="constant" Name="heroconstant" FileName="./config/heroconstant.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="constant" Name="itemconstant" FileName="./config/itemconstant.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="itembag" Name="itembag" FileName="./config/itembag.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="itemtype" Name="itemtype" FileName="./config/itemtype.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="item" Name="itemcommon" FileName="./config/itemcommon.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="1" />
	<item Id="item" Name="itemgift" FileName="./config/itemgift.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="item" Name="itemweapon" FileName="./config/itemweapon.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="item" Name="itemdrug" FileName="./config/itemdrug.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="item" Name="itemrune" FileName="./config/itemrune.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="weaponaffix" Name="weaponaffix" FileName="./config/weaponaffix.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="weapontype" Name="weapontype" FileName="./config/weapontype.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="weight" Name="heroweightpool" FileName="./config/heroweightpool.xml" Reload="1" ClearData="1" ClearFile="1" ChildFile="0" />
	<item Id="weight" Name="itemweightpool" FileName="./config/itemweightpool.xml" Reload="1" ClearData="1" ClearFile="1" ChildFile="0" />
	<item Id="race" Name="herorace" FileName="./config/herorace.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="character" Name="herocharacter" FileName="./config/herocharacter.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="background" Name="herobackground" FileName="./config/herobackground.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="heroattribute" Name="heroattribute" FileName="./config/heroattribute.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="profession" Name="heroprofession" FileName="./config/heroprofession.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="skill" Name="heroskill" FileName="./config/heroskill.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="generate" Name="herogenerate" FileName="./config/herogenerate.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="pinchface" Name="heropinchface" FileName="./config/heropinchface.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="herolevel" Name="herolevel" FileName="./config/herolevel.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="recruit" Name="recruitrefresh" FileName="./config/recruitrefresh.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="divisor" Name="recruitdivisor" FileName="./config/recruitdivisor.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="npc" Name="npcgenerate" FileName="./config/npcgenerate.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="npcgroup" Name="npcgroup" FileName="./config/npcgroup.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="npcrand" Name="npcrand" FileName="./config/npcrand.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="npcskill" Name="npcskill" FileName="./config/npcskill.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="buildskin" Name="buildskin" FileName="./config/buildskin.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="herotransfer" Name="herotransfer" FileName="./config/herotransfer.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="herochancel" Name="herochance" FileName="./config/herochancel.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="record" Name="record" FileName="./config/record.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="realm" Name="realm" FileName="./config/realm.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="pve" Name="pve" FileName="./config/pve.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="granarybuy" Name="granarybuy" FileName="./config/granarybuy.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="smithyweapon" Name="smithyweapon" FileName="./config/smithyweapon.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="chapter" Name="chapter" FileName="./config/chapter.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="status" Name="status" FileName="./config/status.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="task" Name="task" FileName="./config/task.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="taskchain" Name="taskchain" FileName="./config/taskchain.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="taskchainrefresh" Name="taskchainrefresh" FileName="./config/taskchainrefresh.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="condition" Name="taskcondition" FileName="./config/taskcondition.xml" Reload="1" ClearData="1" ClearFile="1" ChildFile="0" />
	<item Id="currency" Name="currency" FileName="./config/currency.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="buildlevel" Name="buildlevel" FileName="./config/buildlevel.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="technology" Name="technology" FileName="./config/technology.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="icon" Name="icon" FileName="./config/icon.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="faction" Name="faction" FileName="./config/faction.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="initialprocess" Name="initialprocess" FileName="./config/initialprocess.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="tlog" Name="tlog" FileName="./config/tlog.xml" Reload="0" ClearData="0" ClearFile="0" ChildFile="0" />
	<item Id="dialogue" Name="dialogue" FileName="./config/dialogue.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="dialoguebranch" Name="dialoguebranch" FileName="./config/dialoguebranch.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="story" Name="story" FileName="./config/story.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="punish" Name="punish" FileName="./config/punish.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="innerworld" Name="innerworld" FileName="./config/innerworld.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="gamble" Name="gamble" FileName="./config/gamble.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="exchange" Name="exchange" FileName="./config/exchange.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="select" Name="select" FileName="./config/select.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="multievent" Name="multievent" FileName="./config/multievent.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="levelvalue" Name="levelvalue" FileName="./config/levelvalue.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="heroquality" Name="heroquality" FileName="./config/heroquality.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="realmtime" Name="realmtime" FileName="./config/realmtime.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="weather" Name="weather" FileName="./config/weather.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="execute" Name="taskexecute" FileName="./config/taskexecute.xml" Reload="1" ClearData="1" ClearFile="1" ChildFile="0" />
	<item Id="executesort" Name="executesort" FileName="./config/executesort.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="injury" Name="injury" FileName="./config/injury.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="injuryrandom" Name="injuryrandom" FileName="./config/injuryrandom.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
	<item Id="storeunlock" Name="storeunlock" FileName="./config/storeunlock.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0" />
</root>